<style>
    .account-wall .form-signin .input-group {
        margin: 0 !important;
    }

        .account-wall .form-signin .input-group:nth-child(4) {
            margin-bottom: 20px !important;
        }
</style>
<form name="change_password" class="form-signin" ng-controller="changePasswordCtrl" novalidate ng-submit="changePassword(newpassword)">
    <header class="panel-heading sm text-center" data-color="theme-inverse">
        <h2><strong>Cambio </strong> password</h2>
        <label class="">Attenzione prima di procedere è necessario modificare le proprie credenziali di accesso.</label>
    </header>
    <section>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" class="form-control" name="username" placeholder="username" ng-model="credential.username" required disabled>
        </div>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <input type="password" class="form-control" name="password" placeholder="password" ng-model="credential.password" required>
        </div>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <input type="password" class="form-control" name="newpassword" placeholder="nuova password" ng-model="newpassword" required>
        </div>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <input type="password" class="form-control" name="username" placeholder="conferma password" ng-model="confirmnewpassword" required>
        </div>

        <button class="btn btn-lg btn-theme-inverse btn-block" type="submit" ng-disabled="change_password.$invalid">Cambia password</button>
    </section>
    <section class="clearfix">
        <a href="javascript:void(0)" class="pull-right" ng-click="changeView('Signin')">Ritorna alla login</a>
    </section>
</form>