


<form name="form_resetPassword" class="form-signin" ng-controller="forgotPasswordCtrl" novalidate ng-submit="resetPassword(email)">
    <header class="panel-heading sm text-center" data-color="theme-inverse">
        <h2><strong>Reset </strong> password</h2>
        <label class="">In questa sezione è possibile reimpostare la password per l'accesso al sistema. E' necessario fornire il proprio nome utente e l'e-mail fornita durante la registrazione.</label>
    </header>
    <section>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" class="form-control" name="username" placeholder="Username" ng-model="credential.username" required>
        </div>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <input type="email" class="form-control" name="password" placeholder="Indirizzo e-mail" ng-model="email" required>
        </div>
        <button class="btn btn-lg btn-theme-inverse btn-block" type="submit" ng-disabled="form_resetPassword.$invalid">Reimposta password</button>
    </section>
    <section class="clearfix">
        <a href="javascript:void(0)" class="pull-right" ng-click="changeView('Signin')">Ritorna alla login</a>
    </section>
</form>