<form name="productForm"
       class="form-horizontal"
       novalidate="novalidate"
       data-form-submit="save()"
       data-ng-controller="productCtrl">
    <section class="panel panel-themes borders bd-gray">
        <header class="panel-heading sm">
            <h2><strong>Gestione prodotto</strong> </h2>
        </header>
        <div class="panel-tools">
            <ul>
                <li>
                    <button type="submit" class="btn btn-info btn-transparent">
                        <i class="fa fa-save"></i>
                        Salva
                    </button>
                </li>
                <li ng-if="product.id > 0 && product.enabled">
                    <button type="button" class="btn btn-info btn-transparent" ng-click="delete()">
                        <i class="fa fa-trash-o"></i>
                        Elimina
                    </button>
                </li>
                <li ng-if="product.id > 0 && !product.enabled">
                    <button type="button" class="btn btn-info btn-transparent" ng-click="restore()">
                        <span class="fa-stack">
                            <i class="fa fa-trash-o fa-stack-1x"></i>
                            <i class="fa fa-times fa-stack-1x"></i>
                        </span>
                        Ripristina
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tabbable" data-tabbablesections="tabbableOptions">
                <ul class="nav nav-tabs" data-jquery-tabdrop>
                    <li>
                        <a>
                            DATI GENERALI
                            <span data-form-errors-count="formTabInfoGenerali"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" data-ng-form="formTabInfoGenerali">
                        <div class="row">
                            <div class="col-lg-6">

                                <div data-form-group data-label="Brand *">
                                    <kvp-select data-items="brands"
                                                data-action="getBrands()"
                                                data-required="true"
                                                data-current="product.brand">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Categoria *">
                                    <kvp-select data-items="categories"
                                                data-action="getCategories()"
                                                data-required="true"
                                                data-current="product.category">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Modello" ng-if="product.brand && product.category">
                                    <kvp-select data-items="models"
                                                data-action="getModels()"
                                                data-required="true"
                                                data-current="product.model">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Prezzo (€)">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="price"
                                           ng-model="product.price"
                                           required
                                           >
                                </div> 
                                <div data-form-group data-label="Note">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="note"
                                           ng-model="product.note"
                                           >
                                </div>
                                <div data-form-group data-label="Seriale">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="serial"
                                           ng-model="product.serial"
                                           >
                                </div>
                                <div data-form-group data-label="Id esterno">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="external_id"
                                           ng-model="product.external_id"
                                           readonly
                                           >
                                </div>
                                <div data-form-group data-label="Ufficio o Magazzino *">
                                    <kvp-select data-items="offices"
                                                data-action="getOffices()"
                                                data-required="true"
                                                data-current="product.office">
                                    </kvp-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5">
                    <entity-information data-entity="data"></entity-information>
                </div>
            </div>
        </div>
    </section>
</form>




<!--<div class="row" ng-controller="productCtrl">
    <div class="col-lg-12">
        <form name="productForm"
              class="form-horizontal"
              novalidate="novalidate"
              data-form-submit="save()">

            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Gestione</strong> prodotto </h2>
                    <div data-form-count="productForm" class="pull-right">

                    </div>
                </header>
                <div class="panel-body">

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">
                                Salva
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="delete()" data-ng-if="data.id > 0">Elimina</button>
                            <button type="button" data-ng-click="redirectToPage()" class="btn btn-inverse">Annulla</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>-->
