<form name="orderForm"
       class="form-horizontal"
       novalidate="novalidate"
       data-form-submit="save()"
       data-ng-controller="orderCtrl">
    <section class="panel panel-themes borders bd-gray">
        <header class="panel-heading sm">
            <h2><strong>Gestione ordine</strong> </h2>
        </header>
        <div class="panel-tools">
            <ul>
                <li>
                    <button type="submit" class="btn btn-theme-inverse btn-transparent">
                        <i class="fa fa-save"></i>
                        Salva
                    </button>
                </li>
                <li ng-if="order.id > 0 && order.enabled">
                    <button type="button" class="btn btn-theme-inverse btn-transparent" ng-click="delete()">
                        <i class="fa fa-trash-o"></i>
                        Elimina
                    </button>
                </li>
                <li ng-if="order.id > 0 && !order.enabled">
                    <button type="button" class="btn btn-theme-inverse btn-transparent" ng-click="restore()">
                        <span class="fa-stack">
                            <i class="fa fa-trash-o fa-stack-1x"></i>
                            <i class="fa fa-times fa-stack-1x"></i>
                        </span>
                        Ripristina
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tabbable" data-tabbablesections="tabbableOptions">
                <ul class="nav nav-tabs" data-jquery-tabdrop>
                    <li>
                        <a>
                            DATI GENERALI
                            <span data-form-errors-count="formTabInfoGenerali"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" data-ng-form="formTabInfoGenerali">
                        <div class="row">
                            <div class="col-lg-6">
                                <div data-form-group data-label="Data">
                                    <input class="form-control input-sm" data-width="auto"
                                           name="date"
                                           ng-model="order.date"
                                           required
                                           data-jquery-dateinputmask>
                                </div>
                                <div data-form-group data-label="Fornitore *">
                                    <kvp-select data-items="suppliers"
                                                data-action="getSuppliers()"
                                                data-required="true"
                                                data-current="order.supplier">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Note">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="note"
                                           ng-model="order.note"
                                           >
                                </div>    
                            </div>
                        </div>
                        <section class="panel panel-default borders bd-gray" data-ng-show="true">
                            <header class="panel-heading xs">
                                <h2><strong>PRODOTTI INSERITI</strong></h2>
                            </header>
                            <div class="panel-body no-margin-padding">
                                <div class="panel-tools">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" data-ng-click="addModel()" class="btn btn-theme-inverse btn-transparent">
                                                <i class="fa fa-plus-square"></i>
                                                Aggiungi nuovo prodotto
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-left width-10">Categoria</th>
                                                    <th scope="col" class="text-left width-10">Brand</th>
                                                    <th scope="col" class="text-left width-20">Modello</th>
                                                    <th scope="col" class="text-left width-10">Quantità</th>
                                                    <th scope="col" class=" width-5">Azioni</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in order.models" data-ng-form="formModel_{{$index}}">
                                                    <td data-from-group data-ng-form="categoryForm{{$index}}" class="align-top">
                                            <kvp-select data-items="categories"
                                                        data-action="getCategories()"
                                                        data-width="100%"
                                                        data-select-style="btn-default btn-sm"
                                                        data-required="true"
                                                        data-current="item.category"></kvp-select>
                                            </td>
                                            <td data-from-group data-ng-form="brandForm{{$index}}" class="align-top">
                                            <kvp-select data-items="brands"
                                                        data-action="getBrands()"
                                                        data-width="100%"
                                                        data-select-style="btn-default btn-sm"
                                                        data-required="true"
                                                        data-current="item.brand"></kvp-select>
                                            </td>
                                            <td data-from-group data-ng-form="modelForm{{$index}}" class="align-top">
                                            <kvp-select data-items="models"
                                                        data-action="getModels()"
                                                        data-width="100%"
                                                        data-select-style="btn-default btn-sm"
                                                        data-required="true"
                                                        data-current="item.model"
                                                        ng-if="item.brand && item.category"></kvp-select>
                                            </td>
                                            <td data-form-group>
                                                <input class="form-control input-sm"
                                                       data-width="auto"
                                                       name="quantity"
                                                       ng-model="item.quantity"
                                                       type="number"
                                                       required>
                                            </td>
                                            <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeModel(item)"
                                                    data-ng-disabled="item.model == null">
                                                Rimuovi
                                            </button>
                                            </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5">
                    <entity-information data-entity="data"></entity-information>
                </div>
            </div>
        </div>
    </section>
</form>




<!--<div class="row" ng-controller="orderCtrl">
    <div class="col-lg-12">
        <form name="orderForm"
              class="form-horizontal"
              novalidate="novalidate"
              data-form-submit="save()">

            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Gestione</strong> ordine </h2>
                    <div data-form-count="orderForm" class="pull-right">

                    </div>
                </header>
                <div class="panel-body">

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">
                                Salva
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="delete()" data-ng-if="data.id > 0">Elimina</button>
                            <button type="button" data-ng-click="redirectToPage()" class="btn btn-inverse">Annulla</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>-->
