<form name="shippingForm"
       class="form-horizontal"
       novalidate="novalidate"
       data-ng-controller="shippingCtrl">
    <section class="panel panel-themes borders bd-gray">
        <header class="panel-heading sm">
            <h2><strong>Gestione spedizione</strong> </h2>
        </header>
        <div class="panel-tools">
            <ul>
                <li>
                    <button type="submit" class="btn btn-theme-inverse btn-transparent" ng-click="shippingForm.$valid && save()">
                        <i class="fa fa-save"></i>
                        Salva come bozza
                    </button>
                </li>
                <li>
                    <button type="submit" class="btn btn-theme-inverse btn-transparent" ng-click="shippingForm.$valid && send()">
                        <i class="fa fa-send"></i>
                        Invia
                    </button>
                </li>
                <li ng-if="shipping.id > 0 && shipping.enabled">
                    <button type="submit" class="btn btn-theme-inverse btn-transparent" ng-click="shippingForm.$valid && confirm()">
                        <i class="fa fa-check"></i>
                        Conferma
                    </button>
                </li>
                <li ng-if="shipping.id > 0 && shipping.enabled">
                    <button type="submit" class="btn btn-theme-inverse btn-transparent" ng-click="shippingForm.$valid && delete()">
                        <i class="fa fa-trash-o"></i>
                        Rifiuta
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tabbable" data-tabbablesections="tabbableOptions">
                <ul class="nav nav-tabs" data-jquery-tabdrop>
                    <li>
                        <a>
                            DATI GENERALI
                            <span data-form-errors-count="formTabInfoGenerali"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" data-ng-form="formTabInfoGenerali">
                        <div class="row">
                            <div class="col-lg-6">
                                <div data-form-group data-label="Data">
                                    <input class="form-control input-sm" data-width="auto"
                                           name="date"
                                           ng-model="shipping.date"
                                           required
                                           data-jquery-dateinputmask>
                                </div>
                                <div data-form-group data-label="Provenienza *">
                                    <kvp-select data-items="origins"
                                                data-action="getOrigins()"
                                                data-required="true"
                                                data-current="shipping.origin">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Destinazione *">
                                    <kvp-select data-items="destinations"
                                                data-action="getDestinations(shipping.origin)"
                                                data-required="true"
                                                data-current="shipping.destination">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Note">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="note"
                                           ng-model="shipping.note"
                                           >
                                </div> 
                                <div data-form-group data-label="Stato">
                                    <span class="badge {{shipping.statecssclass}}">{{shipping.shippingstate.key}}</span>
                                    <span class="badge"><button class="btn btn-link" ng-click="downloadDocument(shipping.id)">Scarica documento</button></span>
                                </div>  
                            </div>
                        </div>
                        <section class="panel panel-default borders bd-gray" data-ng-show="true">
                            <header class="panel-heading xs">
                                <h2><strong>PRODOTTI INSERITI</strong></h2>
                            </header>
                            <div class="panel-body no-margin-padding">
                                <div class="panel-tools">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" data-ng-click="addProduct()" class="btn btn-theme-inverse btn-transparent">
                                                <i class="fa fa-plus-square"></i>
                                                Aggiungi nuovo prodotto
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-left width-10">Categoria</th>
                                                    <th scope="col" class="text-left width-10">Brand</th>
                                                    <th scope="col" class="text-left width-20">Modello</th>
                                                    <th scope="col" class="text-left width-10">Seriale</th>
                                                    <th scope="col" class=" width-5">Azioni</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in shipping.products" data-ng-form="formProduct_{{$index}}">
                                                    <td data-from-group data-ng-form="categoryForm{{$index}}" class="align-top">
                                            <kvp-select data-items="item.categories"
                                                        data-action="getAvailableCategories(item)"
                                                        data-width="100%"
                                                        data-select-style="btn-default btn-sm"
                                                        data-required="true"
                                                        data-current="item.category"></kvp-select>
                                            </td>
                                            <td data-from-group data-ng-form="brandForm{{$index}}" class="align-top">
                                            <kvp-select data-items="brands"
                                                        data-action="getAvailableBrands(item)"
                                                        data-width="100%"
                                                        data-select-style="btn-default btn-sm"
                                                        data-required="true"
                                                        data-current="item.brand"
                                                        data-disabled="!item.category"></kvp-select>
                                            </td>
                                            <td data-from-group data-ng-form="modelForm{{$index}}" class="align-top">
                                            <kvp-select data-items="models"
                                                        data-action="getAvailableModels(item)"
                                                        data-width="100%"
                                                        data-select-style="btn-default btn-sm"
                                                        data-required="true"
                                                        data-current="item.model"
                                                        data-disabled="!item.brand || !item.category"></kvp-select>
                                            </td>
                                            <td data-from-group data-ng-form="productForm{{$index}}" class="align-top">
                                            <kvp-select data-items="products"
                                                        data-action="getAvailableProducts(item)"
                                                        data-width="100%"
                                                        data-select-style="btn-default btn-sm"
                                                        data-required="true"
                                                        data-current="item.product"
                                                        data-disabled="!item.model"></kvp-select>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="removeProduct(item)"
                                                        data-ng-disabled="item.model == null">
                                                    Rimuovi
                                                </button>
                                            </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5">
                    <entity-information data-entity="data"></entity-information>
                </div>
            </div>
        </div>
    </section>
</form>



