<form name="userForm"
       class="form-horizontal"
       novalidate="novalidate"
       data-form-submit="save()"
       data-ng-controller="userCtrl">
    <section class="panel panel-themes borders bd-gray">
        <header class="panel-heading sm">
            <h2><strong>Gestione utente</strong> </h2>
        </header>
        <div class="panel-tools">
            <ul>
                <li>
                    <button type="submit" class="btn btn-info btn-transparent">
                        <i class="fa fa-save"></i>
                        Salva
                    </button>
                </li>
                <li ng-if="data.id > 0">
                    <button type="button" class="btn btn-info btn-transparent" ng-click="delete()">
                        <i class="fa fa-trash-o"></i>
                        Elimina
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tabbable" data-tabbablesections="tabbableOptions">
                <ul class="nav nav-tabs" data-jquery-tabdrop>
                    <li>
                        <a>
                            DATI GENERALI
                            <span data-form-errors-count="formTabInfoGenerali"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" data-ng-form="formTabInfoGenerali">
                        <div class="row">
                            <div class="col-lg-6">
                                <div data-form-group data-label="Ruolo *">
                                    <kvp-select data-items="roles"
                                                data-action="getRoles()"
                                                data-required="true"
                                                data-current="data.role">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Username">
                                    <input class="form-control input-sm" type="text" value="" name="username" required ng-model="data.username" ng-disabled="data.id > 0">
                                </div>
                                <div data-form-group data-label="Nome">
                                    <input class="form-control input-sm" type="text" name="firstname" required ng-model="data.firstname">
                                </div>
                                <div data-form-group data-label="Cognome">
                                    <input class="form-control input-sm" type="text" name="lastname" required ng-model="data.lastname">
                                </div>
                                <div data-form-group data-label="Indirizzo e-mail">
                                    <input class="form-control input-sm" type="email" name="email" id="email" required ng-model="data.email" ng-disabled="data.id">
                                    <span data-ng-if="data.id == null" class="help-block">Il presente indirizzo e-mail verrà utilizzato per inviare le credenziali di accesso una volta confermato i dati.</span>
                                </div>
                                <div data-form-group data-label="Scadenza password (GG)">
                                    <input class="form-control input-sm" type="number" name="passwordday" ng-model="data.passwordDay" min="0" max="100">
                                </div>
                                <div class="form-group" ng-cloak ng-if="data.lastChangePasswordDate != null">
                                    <label class="control-label col-md-4">Ultimo cambio password</label>
                                    <div class="col-md-8">
                                        <label class="color"> {{data.lastChangePasswordDate| date : 'dd/MM/yyyy HH:mm:ss'}}</label>
                                    </div>
                                </div>
                                <div class="form-group" ng-cloak ng-if="data.passwordDay > 0 && data.lastChangePasswordDate != null">
                                    <label class="control-label  col-md-4">Prossimo cambio password</label>
                                    <div class="col-md-8">
                                        <label class="color"> Il prossimo cambio password è previsto a partire dalla data: {{ getNextChangePasswordDate() | date : 'dd/MM/yyyy HH:mm:ss'}}</label>
                                    </div>
                                </div>


                                <div data-form-group data-label="Annotazioni">
                                    <textarea class="form-control input-sm" name="note" rows="4" ng-model="data.note" maxlength="400"></textarea>
                                </div>
                                <div data-form-group data-label="Disabilitato">
                                    <ul class="iCheck">
                                        <li>
                                            <input type="checkbox" name="isDisable" ng-model="data.isDisable" data-jquery-icheck>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-5">
                                <entity-information data-entity="data"></entity-information>
                            </div>
                        </div>
                        <hr/>
                        <section class="panel panel-default borders bd-gray" ng-if="data.role.value == 2">
                            <header class="panel-heading xs">
                                <h2><strong >Elenco magazzini associati </strong></h2>
                            </header>
                            <div class="panel-body">
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="width-2">
                                            </th>
                                            <th class="text-left">
                                                Magazzino *
                                            </th>
                                            <th class="text-left">
                                                Azioni
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detail in data.officesRights" ng-form="associatedWarehouseForm">
                                            <td class="text-right">
                                                {{$index + 1}}
                                            </td>
                                            <td data-form-group>
                                    <kvp-select data-items="offices"
                                                data-action="getOffices()"
                                                data-required="true"
                                                data-current="detail.office">
                                    </kvp-select>
                                    </td>
                                    <td data-form-group>
                                        <a class="btn btn-default btn-sm" href="javascript:void(0)" ng-click="removeOffice(detail)">Elimina</a>
                                    </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" ng-cloak>
                                                <label class="color color-primary">Totale magazzini associati: <strong>{{data.officesRights.length}}</strong> </label>
                                            </td>
                                            <td>
                                                <a class="btn btn-default btn-sm" href="javascript:void(0)" ng-click="addOffice()">
                                                    Aggiungi
                                                </a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

