    <div id="main" ng-controller="loginCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-wall">
                        <section class="align-lg-center">
                            <div class="site-logo"></div>
                            <h1 class="login-title"><small> Area backoffice </small></h1>
                        </section>
                        <ng-include src="currentView" />
                        <a href="#" class="footer-link">&copy; 2015 BPoint &trade; </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
