<div data-ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-md-6" data-ng-if="warehousesvalue">
            <div class="well bg-info">
                <div class="graph-info"><label><i class="fa fa-info-circle fa-2x ico" title="{{warehousesvalue.description}}" data-jquery-tooltip></i></label></div>
                <div class="widget-tile">
                    <highchart-ext id="warehousesvaluegraph" title="Valore per magazzino" data="warehousesvalue" y-axis-title="Valore"></highchart-ext>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-ng-if="warehouseproducts">
            <div class="well bg-info">
                <div class="graph-info"><label><i class="fa fa-info-circle fa-2x ico" title="{{warehouseproducts.description}}" data-jquery-tooltip></i></label></div>
                <div class="widget-tile">
                    <highchart-ext id="warehouseproductsgraph" title="Prodotti per magazzino" data="warehouseproducts" y-axis-title="Prodotti"></highchart-ext>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" data-ng-if="brokenheadphonesforwarehouse">
            <div class="well bg-info">
                <div class="graph-info"><label><i class="fa fa-info-circle fa-2x ico" title="{{brokenheadphonesforwarehouse.description}}" data-jquery-tooltip></i></label></div>
                <div class="widget-tile">
                    <highchart-ext id="brokenheadphonesforwarehousegraph" title="Cuffie rotte per magazzino" data="brokenheadphonesforwarehouse" y-axis-title="Cuffie"></highchart-ext>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-ng-if="brokenheadphonesforwarehouse">
            <div class="well bg-info">
                <div class="graph-info"><label><i class="fa fa-info-circle fa-2x ico" title="{{brokenheadphonesforwarehouse.description}}" data-jquery-tooltip></i></label></div>
                <div class="widget-tile">
                    <highchart-ext id="brokenheadphonesforwarehousegraph" title="Cuffie rotte per marca" data="brokenheadphonesforwarehouse" y-axis-title="Cuffie"></highchart-ext>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-ng-if="repairrequestsforwarehouse">
            <div class="well bg-info">
                <div class="graph-info"><label><i class="fa fa-info-circle fa-2x ico" title="{{repairrequestsforwarehouse.description}}" data-jquery-tooltip></i></label></div>
                <div class="widget-tile">
                    <highchart-ext id="repairrequestsforwarehousegraph" title="Riparazioni per magazzino" data="repairrequestsforwarehouse" y-axis-title="Riparazioni"></highchart-ext>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" data-ng-if="avgworkingtimeforbrand">
            <div class="well bg-info">
                <div class="graph-info"><label><i class="fa fa-info-circle fa-2x ico" title="{{avgworkingtimeforbrand.description}}" data-jquery-tooltip></i></label></div>
                <div class="widget-tile">
                    <highchart-ext id="avgworkingtimeforbrandgraph" title="Tempo medio per marca" data="avgworkingtimeforbrand" y-axis-title="Tempo medio"></highchart-ext>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-ng-if="dropsforwarehouse">
            <div class="well bg-info">
                <div class="graph-info"><label><i class="fa fa-info-circle fa-2x ico" title="{{dropsforwarehouse.description}}" data-jquery-tooltip></i></label></div>
                <div class="widget-tile">
                    <highchart-ext id="dropsforwarehousegraph" title="Perdite per magazzino" data="dropsforwarehouse" y-axis-title="Perdite"></highchart-ext>
                </div>
            </div>
        </div>
    </div>
</div>
