<div class="row">
    <div class="col-lg-12">
        <!--<form name="configurationForm" class="form-horizontal" novalidate="novalidate" ng-submit="save()">
            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Configurazione di sistema</strong> </h2>
                </header>
                <div class="panel-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-target="#es" data-toggle="tab">Sistema ES</a></li>
                            <li><a data-target="#workflow" data-toggle="tab">Workflow</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="es" class="tab-pane fade in active" data-ng-include="'/app/backoffice/views/admin/configuration/_esparameters.html'">

                            </div>
                            <div id="workflow" class="tab-pane fade" data-ng-include="'/app/backoffice/views/admin/configuration/_workflowparameters.html'">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-theme-inverse" ng-disabled="configurationForm.$invalid">Salva configurazione</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>-->
    </div>
</div>

