<form name="contractForm"
      class="form-horizontal"
      novalidate="novalidate"
      data-form-submit="save()"
      data-ng-controller="contractCtrl">
    <section class="panel panel-themes borders bd-gray">
        <header class="panel-heading sm">
            <h2><strong>Gestione contratto</strong> </h2>
        </header>
        <div class="panel-tools">
            <ul>
                <li>
                    <button type="submit" class="btn btn-info btn-transparent">
                        <i class="fa fa-save"></i>
                        Salva
                    </button>
                </li>
                <li ng-if="contract.id > 0">
                    <button type="button" class="btn btn-info btn-transparent" ng-click="delete()">
                        <i class="fa fa-trash-o"></i>
                        Elimina
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tabbable" data-tabbablesections="tabbableOptions">
                <ul class="nav nav-tabs" data-jquery-tabdrop>
                    <li>
                        <a>
                            DATI GENERALI
                            <span data-form-errors-count="formTabInfoGenerali"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" data-ng-form="formTabInfoGenerali">
                        <div class="row">
                            <div class="col-lg-6">
                                <div data-form-group data-label="Dipendente">
                                    <select data-jquery-selectpicker
                                            name="employee"
                                            data-style="btn-default btn-sm"
                                            ng-model="contract.employeeId"
                                            data-width="auto"
                                            data-live-search="true"
                                            ng-options="g.value as g.key for g in employees"
                                            ng-disabled="contract.id > 0 || employeeSelected"
                                            required>
                                        <option value="">Seleziona...</option>
                                    </select>
                                </div>
                                <div data-form-group data-label="Data di inizio">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="startDate"
                                           ng-model="contract.startDate"
                                           data-jquery-dateinputmask
                                           required>
                                </div>
                                <div data-form-group data-label="Data di fine">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="endDate"
                                           ng-model="contract.endDate"
                                           ng-blur="editContractEndDate()"
                                           data-jquery-dateinputmask>
                                </div>
                                <div data-form-group data-label="Tipo contratto">
                                    <select name="type"
                                            data-width="auto"
                                            data-container='body'
                                            data-style="btn-default btn-sm"
                                            ng-model="contract.type.value"
                                            data-jquery-selectpicker-live="getContractTypes()"
                                            data-live-search="true"
                                            ng-options="o.value as o.key for o in contractTypes"
                                            required>
                                        <option value="">Seleziona...</option>
                                    </select>
                                </div>
                                <div data-form-group data-label="Stipendio">
                                    <input class="form-control input-sm" type="number" name="wage"
                                           max="9999999" min="0"
                                           maxlength="9"
                                           ng-model="contract.wage" required data-width="auto">
                                </div>
                                <div data-form-group data-label="Motivazione chiusura">
                                    <select name="closingType"
                                            data-width="auto"
                                            data-container='body'
                                            data-style="btn-default btn-sm"
                                            ng-model="contract.closingType.value"
                                            data-jquery-selectpicker-live="getContractClosingTypes()"
                                            data-live-search="true"
                                            ng-options="o.value as o.key for o in contractClosingTypes">
                                        <option value="">Seleziona...</option>
                                    </select>
                                </div>
                                <div data-form-group data-label="Annotazioni">
                                    <textarea class="form-control input-sm" name="note" ng-model="contract.note" maxlength="500" rows="4"></textarea>
                                </div>

                            </div>
                        </div>
                        <section class="panel panel-default borders bd-gray">
                            <header class="panel-heading xs">
                                <h2>
                                    <strong>
                                        DOCUMENTAZIONE ALLEGATA
                                    </strong>
                                </h2>
                            </header>
                            <div class="panel-body">
                                <label class="color">E' possibile allegare file con estensione PDF, XPS, MP3 e WAV. Dimensione massima 5 Mbyte.</label>
                                <table class="table table-bordered table-condensed table-hover table-striped ">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-left">
                                                Tipologia*
                                            </th>
                                            <th class="text-left">
                                                Allegato*
                                            </th>
                                            <th class="text-left">
                                                Azioni
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in contract.attachments" ng-form="formUpload_{{$index + 1}}">
                                            <td class="text-right">
                                                {{$index + 1}}
                                            </td>
                                            <td ng-form="namesForm" data-form-group>
                                                <select name="typeId"
                                                        data-width="auto"
                                                        data-style="btn-default btn-sm"
                                                        required
                                                        ng-model="item.typeId"
                                                        data-live-search="true"
                                                        data-jquery-selectpicker
                                                        ng-options="o.id as o.name for o in attachmentTypes">
                                                    <option value="">Seleziona...</option>
                                                </select>
                                            </td>
                                            <td data-file-upload="options">
                                                <div class="row" data-ng-if="item.name">
                                                    <div class="col-sm-12">
                                                        <span class="label label-default">{{item.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="row fileupload-buttonbar">
                                                    <div class="col-lg-7">
                                                        <span class="btn btn-success btn-sm fileinput-button" ng-click="selectFile(item)">
                                                            <i class="glyphicon glyphicon-open"></i>
                                                            <span>Seleziona file...</span>
                                                            <input type="file" name="file_{{item.typeId}}">
                                                        </span>
                                                        <span class="fileupload-process"></span>
                                                    </div>
                                                    <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                                        <div class="progress progress-striped active" data-file-upload-progress="progress()">
                                                            <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-default btn-sm"
                                                   href="javascript:void(0)"
                                                   ng-click="removeAttachment(item)"
                                                   ng-if="('\'SysAdmin\'' | hasRole)">Elimina</a>
                                                <a class="btn btn-default btn-sm" ng-if="item.id > 0 && item.content != null" data-download-file-type="{{item.contentType}}" data-download-file="download(item)" data-download-file-name='{{item.name}}' title="Download allegato">Download</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" ng-cloak>
                                                <label class="color color-primary">Totale allegati: <strong>{{contract.attachments.length}}</strong> </label>
                                            </td>
                                            <td>
                                                <a class="btn btn-default btn-sm" href="javascript:void(0)" ng-click="addAttachment()">
                                                    Aggiungi
                                                </a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5">
                    <entity-information data-entity="data"></entity-information>
                </div>
            </div>
        </div>
    </section>
</form>




<!--<div class="row" ng-controller="contractCtrl">
    <div class="col-lg-12">
        <form name="contractForm"
              class="form-horizontal"
              novalidate="novalidate"
              data-form-submit="save()">

            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Gestione</strong> contratto </h2>
                    <div data-form-count="contractForm" class="pull-right">

                    </div>
                </header>
                <div class="panel-body">

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">
                                Salva
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="delete()" data-ng-if="data.id > 0">Elimina</button>
                            <button type="button" data-ng-click="redirectToPage()" class="btn btn-inverse">Annulla</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>-->
