<form name="positionForm"
      class="form-horizontal"
      novalidate="novalidate"
      data-form-submit="save()"
      data-ng-controller="employeePositionCtrl">
    <section class="panel panel-themes borders bd-gray">
        <header class="panel-heading sm">
            <h2><strong>Gestione collocazione dipendente</strong> </h2>
        </header>
        <div class="panel-tools">
            <ul>
                <li>
                    <button type="submit" class="btn btn-theme-inverse btn-transparent">
                        <i class="fa fa-save"></i>
                        Salva
                    </button>
                </li>
                <li ng-if="data.id > 0">
                    <button type="button" class="btn btn-theme-inverse btn-transparent" ng-click="delete()">
                        <i class="fa fa-trash-o"></i>
                        Elimina
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tabbable" data-tabbablesections="tabbableOptions">
                <ul class="nav nav-tabs" data-jquery-tabdrop>
                    <li>
                        <a>
                            DATI GENERALI
                            <span data-form-errors-count="formTabInfoGenerali"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" data-ng-form="formTabInfoGenerali">
                        <div class="row">
                            <div class="col-lg-6">
                                <div data-form-group
                                     data-label="Reparto"
                                     data-ng-form="repartoForm">
                                    <kvp-select data-items="departments"
                                                data-action="getDepartments()"
                                                data-required="true"
                                                data-current="data.department"
                                                data-disabled="data.id != null && data.id != 0">
                                    </kvp-select>
                                </div>
                                <div data-form-group
                                     data-label="Posto di lavoro"
                                     data-ng-form="postolavoroForm">
                                    <kvp-select data-items="workPlaces"
                                                data-action="getWorkPlaces()"
                                                data-current="data.workPlace">
                                    </kvp-select>
                                </div>
                                <div data-form-group data-label="Data inizio validità">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="startDate"
                                           ng-model="data.startDate"
                                           data-jquery-dateinputmask
                                           required>
                                </div>
                                <div data-form-group data-label="Data fine validità">
                                    <input class="form-control input-sm"
                                           data-width="auto"
                                           name="endDate"
                                           ng-model="data.endDate"
                                           data-jquery-dateinputmask>
                                </div>
                                <div data-form-group
                                     data-label="Responsabile"
                                     data-ng-form="responsabileForm"
                                     data-ng-show="data.department.type == 1">
                                    <kvp-select data-items="employees"
                                                data-action="getGenericEmployees()"
                                                data-current="data.campaignAssociations[0].personInCharge">
                                    </kvp-select>
                                </div>
                            </div>

                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-5">
                                <entity-information data-entity="data"></entity-information>
                            </div>
                        </div>
                        <hr data-ng-show="data.department.type && data.department.type != 1" />
                        <section class="panel panel-default borders bd-gray" data-ng-show="data.department.type && data.department.type != 1">
                            <header class="panel-heading xs">
                                <h2><strong>CAMPAGNE ASSOCIATE</strong></h2>
                            </header>
                            <div class="panel-body no-margin-padding">
                                <div class="panel-tools">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" data-ng-click="addAssociation()" class="btn btn-theme-inverse btn-transparent">
                                                <i class="fa fa-plus-square"></i>
                                                Associa nuova campagna
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="dataTables_filter row">
                                        <div class="col-md-3">
                                            <span class="help-block no-margin-padding small"><strong>STATO</strong></span>
                                            <select name="isActive"
                                                    data-style="btn-default btn-sm"
                                                    data-jquery-selectpicker
                                                    ng-model="filters.isActive">
                                                <option value="true">Attive</option>
                                                <option value="false">Non Attive</option>
                                                <option value="">Tutte</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-left width-20">Campagna</th>
                                                    <th scope="col" class="text-left width-10">Inizio campagna</th>
                                                    <th scope="col" class="text-left width-10">Fine campagna</th>
                                                    <th scope="col" class="text-left width-10">Inizio validità</th>
                                                    <th scope="col" class="text-left width-10">Fine validità</th>
                                                    <th scope="col" class="text-left width-20">Responsabile</th>
                                                    <th scope="col" class="text-center width-5 hidden-sm hidden-xs" nowrap="">
                                                        Presenze&nbsp;
                                                        <i class="fa fa-info-circle" data-jquery-popover data-trigger="hover" title="Totale presenze" data-content="Numero di presenze registrate per la campagna indicata. Si ricorda che se sono presenti delle registrazioni associate la campagna non può essere più rimossa"></i>
                                                    </th>
                                                    <th scope="col" class="text-center width-5 hidden-sm hidden-xs" nowrap="">
                                                        Assenze&nbsp;
                                                        <i class="fa fa-info-circle" data-jquery-popover data-trigger="hover" title="Totale assenze" data-content="Numero di assenze registrate per la campagna indicata. Si ricorda che se sono presenti delle registrazioni associate la campagna non può essere più rimossa"></i>
                                                    </th>
                                                    <th scope="col" class="width-5 hidden-sm hidden-xs" nowrap="">
                                                        Stato
                                                        &nbsp;
                                                        <i class="fa fa-info-circle" data-jquery-popover data-trigger="hover" title="Stato campagna" data-content="Lo stato viene calcolato in base al periodo di validità e la data corrente. Per disattivare una campagna è necessario indicare la data corrente nel periodo di fine validità"></i>
                                                    </th>
                                                    <th scope="col" class=" width-5">Azioni</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in data.campaignAssociations | filter:{isActive: filters.isActive}" data-ng-form="formCampaignAssociation_{{$index}}">
                                                    <td data-from-group data-ng-form="campaignForm{{$index}}" class="align-top">
                                                        <kvp-select data-items="campaigns"
                                                                    data-action="getCampaigns()"
                                                                    data-width="100%"
                                                                    data-select-style="btn-default btn-sm"
                                                                    data-required="true"
                                                                    data-change="item.personInCharge = null; item.personInCharge = null"
                                                                    data-current="item.campaign"></kvp-select>
                                                    </td>
                                                    <td class="text-left">
                                                        {{item.campaignItem.startDate | date:'dd/MM/yyyy'}}
                                                    </td>
                                                    <td class="text-left">
                                                        {{item.campaignItem.endDate | date:'dd/MM/yyyy'}}
                                                    </td>
                                                    <td data-form-group>
                                                        <input class="form-control input-sm"
                                                               data-width="auto"
                                                               name="startDate"
                                                               ng-model="item.startDate"
                                                               data-jquery-dateinputmask
                                                               required>
                                                    </td>
                                                    <td data-form-group>
                                                        <input class="form-control input-sm"
                                                               data-width="auto"
                                                               name="endDate"
                                                               data-ng-model="item.endDate"
                                                               data-ng-blur="editCampaignAssociationEndDate()"
                                                               data-jquery-dateinputmask>
                                                    </td>
                                                    <td data-form-group data-ng-form="personInChargeForm{{$index}}">

                                                        <kvp-select data-items="item.personInCharges"
                                                                    data-ng-show="item.noPersonInCharge == null || item.noPersonInCharge == false"
                                                                    data-required="item.noPersonInCharge == null || item.noPersonInCharge == false"
                                                                    data-action="getPersonInCharge(item)"
                                                                    data-width="100%"
                                                                    data-select-style="btn-default btn-sm"
                                                                    data-disabled="item.campaign.value == null"
                                                                    data-current="item.personInCharge"></kvp-select>
                                                        <ul class="iCheck">
                                                            <li>
                                                                <input type="checkbox"
                                                                       name="noPersonInCharge"
                                                                       ng-model="item.noPersonInCharge" data-jquery-icheck>
                                                                <label>
                                                                    Nessun responsabile
                                                                </label>
                                                            </li>
                                                        </ul>

                                                    </td>
                                                    <td class="text-center hidden-sm hidden-xs">
                                                        {{item.presencesCount}}
                                                    </td>
                                                    <td class="text-center hidden-sm hidden-xs">
                                                        {{item.absencesCount}}
                                                    </td>
                                                    <td class="text-center hidden-sm hidden-xs" data-form-group>
                                                        <span data-ng-if="getIsActive(item) != null">
                                                            <span class="badge bg-danger-darken" data-ng-if="!getIsActive(item)">Non attivo</span>
                                                            <span class="badge bg-success-darken" data-ng-if="getIsActive(item)">Attivo</span>
                                                        </span>
                                                    </td>
                                                    <td class="align-top">
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="removeAssociation(item)"
                                                                data-ng-disabled="item.presencesCount > 0 || item.absencesCount > 0">
                                                            Rimuovi
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </section>
</form>




<!--<div class="row" ng-controller="contractCtrl">
    <div class="col-lg-12">
        <form name="contractForm"
              class="form-horizontal"
              novalidate="novalidate"
              data-form-submit="save()">

            <section class="panel">
                <header class="panel-heading sm">
                    <h2><strong>Gestione</strong> contratto </h2>
                    <div data-form-count="contractForm" class="pull-right">

                    </div>
                </header>
                <div class="panel-body">

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">
                                Salva
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="delete()" data-ng-if="data.id > 0">Elimina</button>
                            <button type="button" data-ng-click="redirectToPage()" class="btn btn-inverse">Annulla</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>-->
